*, ::after, ::before {
    position: relative;
    box-sizing: border-box;
}

body {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
}

p {
    margin: .3em .5em;
    white-space: nowrap;
}

.time {
    font-family: 'Open Sans', sans-serif;
}

.game-name {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.ticker {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: .1em -1.5em .1em 0;
    overflow: hidden;
    width: 0;
}

.end {
    background-color: orangered;
    width: 3em;
    height: 2.1em;
    opacity: 0;
    clip-path: polygon(0 0, 60% 0, 100% 100%, 40% 100% );
    animation: slide-end 1.5s ease-out .5s forwards;
}

#current-content {
    background-color: #555;
    color: white;
    animation: slide-current 1.5s ease-out .5s forwards;
}

#next-content {
    background-color: lightgray;
    color: black;
    animation: slide-next 1.5s ease-out .5s forwards;
}

@keyframes slide-end{
    0%{
        opacity: 0;
    }
    10%, 100%{
        opacity: 100%;
    }
}

@keyframes slide-current{
    0%{
        width: 0;
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
        width: 17em;
    }  
}

@keyframes slide-next{
    0%{
        width: 0;
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
        width: 20em;
    }  
}
